<main>
    <div class="center">
        <h1>Welcome to noteapp</h1>
        <p>Hi, if you are not registered, register now. </p>
        <p>On this webpage you are able to make notes and categorize them. </p>
        <p>you can also share your notes with your friend </p>
        
        <form>
            <h2>Register now!</h2>
            <label for="displayname">Anzeigename:</label>
            <input type="text" id="displayname" name="displayname">
            <label for="username">Benutzername:</label>
            <input type="text" id="username" name="username">
            <label for="pw">Passwort:</label>
            <input type="text" id="pw" name="pw">
            <button class="primary">Register now</button>
        </form>
        
    </div>
    <div class="center">
        <p>Hi, you already have an account? </p>
        <p>Login now and have fun</p>
        
        <form>
            <h2>Log in!</h2>
            <label for="username">Benutzername:</label>
            <input type="text" id="username" name="username">
            <label for="pw">Passwort:</label>
            <input type="text" id="pw" name="pw">
            <button class="primary">Log in</button>
        </form>
    </div>      
</main>